body {
    background-color: #e0fbef;
    font-family: 'Trebuchet MS', sans-serif;
    justify-content: center;
    margin: 0;
}

header, footer, td {
    background-color: white;
    text-align: center;
    width: 100%;
}
footer{
    padding-bottom: 10px;
    position: absolute;
    float: bottom;
    bottom: 0;
}

button, input[type=button], input[type=reset] {
    background-color:#e0fbef;
    border-color:#8cf0c4;
    font-family:'Trebuchet MS', sans-serif;
    padding: 5px;
    margin: 5px;
}
.headerButtons {
    display: table-cell;
    text-align: center;
    margin: 10px;
}

h1 {
    color: #8cf0c4;
    text-align: center;
    font-size: 40pt;
}

.intro {
    margin-left: 30%;
    width: 50%;
}

aside {
    width: 50%;
    float: left;
}

blockquote, thead th, tbody th {background-color: #8cf0c4;}

table, th, td {border: none;}

.table {
    display: table;
    border-spacing: 20px;
}
.caption {
    display: table-caption;
    font-size: xx-large;
    text-align: center;
}
.row {display: table-row;}
.row > * {
    display: table-cell;
    text-align: center;
}

.endForm {
    background-color: #8cf0c4;
}

#reCommentBtn{
    display: none;
}