doctype html
head
  meta(charset='utf-8')
  meta(name='author' content='Renee Davis')
  meta(name='description' content='Assignment 4: Node Integration')
  title Renee Davis
  link(rel='stylesheet' href='/stylesheets/style.css')
  block scripts
body
  header
    h1 renee davis
    pre.
      computer science and animation student    
    div
      a(href='/')
        button.headerButtons home
      a(href='/games')
        button.headerButtons games
      a(href='/feedback')
        button.headerButtons feedback
    hr
  block content
footer
    br
    address
      | --- Linkedin 
      a(href='https://linkedin.com/in/reneedavisa') @reneedavisa
      |         --- Instagram
      a(href='https://www.instagram.com/color_falls/') @color_falls
      |          ---  Github 
      a(href='https://github.com/rennay') @rennay
      |  ---